# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg-info/
dist/
build/
*.egg

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# Virtual Environment
venv/
.env/
*.env

# Flask specific
instance/
*.sqlite
*.db

# Jupyter Notebook
.ipynb_checkpoints/

# Log files
*.log

# Misc
.DS_Store
*.swp
*.swo